:root {
    /* Numbers */
    --margin: 0 8rem;
    /* Primary colours */
    --Bright-Red: hsl(12, 88%, 59%);
    --Dark-Blue: hsl(228, 39%, 23%);
    /* Neutral colours */
    --Dark-Grayish-Blue: hsl(227, 12%, 61%);
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    /* Animation variables */
    --animi-duration: 500ms;
    --animi-delay: 50ms;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.opacity {
    opacity: 1!important;
}

/* .is-visible {
    will-change: auto;
} */

*::selection {
    background-color: var(--Dark-Blue);
    color: var(--Very-Light-Gray);
}

@font-face {
    font-family: Bregular;
    src: url(../font/BeVietnam-Regular.ttf);
}

@font-face {
    font-family: Bmedium;
    src: url(../font/BeVietnam-Medium.ttf);
}

@font-face {
    font-family: Bbold;
    src: url(../font/BeVietnam-Bold.ttf);
}

html {
    font-size: 10px;
    background-color: var(--Vary-Light-Gray);
}

html::-webkit-scrollbar {
    display: none;
}

.nav {
    font-family: Bbold;
    font-size: 1.6rem;
}

.nav .section {
    margin: var(--margin);
    padding: 5rem 0;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav .section .icon {
    display: none;
}

.nav .list {
    margin: 0 auto;
}

.nav .list a {
    margin-right: 2rem;
    color: var(--Dark-Blue);
}

.nav .list a:hover {
    color: var(--Dark-Grayish-Blue);
}

.nav .button {
    justify-self: flex-end;
    align-self: flex-end;
}

.nav .button, .nav .web-logo, .nav .list {
    animation: slide-down var(--animi-duration) forwards;
    opacity: 0;
}

.nav .list {
    animation-delay: calc(var(--animi-delay) * 1);
}





.col-a .section-a {
    margin: var(--margin);
    padding: 6rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col-a .section-a .sec-a {
    width: 50%;
    flex: 50%;
    height: auto;
}

.col-a .section-a .sec-a * {
    margin-bottom: 4rem;
}

.col-a .section-a .sec-a p {
    width: 70%;
    flex: 70%;
}

.col-a .section-a .sec-b {
    width: 50%;
    flex: 50%;
    display: flex;
    justify-content: flex-end;
    height: auto;
}

.col-a .section-a .sec-b .img {
    margin-right: -2rem;
    width: 100%;
    opacity: 0;
}

.col-a .section-a.is-visible .sec-b .img {
    margin-right: -2rem;
    width: 100%;
    animation: slide-left var(--animi-duration) calc(var(--animi-delay) * 3) forwards;
    opacity: 0;
}

.col-a .section-a.is-visible .sec-a h1, .col-a .section-a.is-visible .sec-a p, .col-a .section-a.is-visible .sec-a .button {
    animation-name: slide-right;
    animation-duration: var(--animi-duration);
    animation-fill-mode: forwards;
    opacity: 0;
}

.col-a .section-a .sec-a h1, .col-a .section-a .sec-a p, .col-a .section-a .sec-a .button {
    opacity: 0;
}

.col-a .section-a.is-visible .sec-a h1 {
    animation-delay: calc(var(--animi-delay) * 1);
}

.col-a .section-a.is-visible .sec-a p {
    animation-delay: calc(var(--animi-delay) * 3);
}

.col-a .section-a.is-visible .sec-a .button {
    animation-delay: calc(var(--animi-delay) * 5);
}





.col-b {
    position: relative;
}

.col-b .section-a {
    margin: var(--margin);
    padding: 8rem 0;
    display: flex;
    flex-direction: row;
}

.col-b .section-a .sec-a {
    width: 50%;
}

.col-b .section-a .sec-a p {
    width: 70%;
    
}

.col-b .section-a .sec-a * {
    margin-bottom: 3rem;
}

.col-b .section-a .sec-b {
    width: 50%;
}

.col-b .section-a .sec-b .item {
    margin-bottom: 5rem;
}

.col-b .section-a .sec-b .item p {
    margin-left: 12rem;
}
.col-b .section-a .sec-b .item-header h4 {
    margin-left: 4rem;
}

.col-b .section-a .sec-b .item-header * {
    display: inline-block;
}

.col-b .section-a .sec-a p, .col-b .section-a .sec-a h2, .col-b .section-a .sec-b .item {
    opacity: 0;
}

.col-b .section-a .sec-a.is-visible p, .col-b .section-a .sec-a.is-visible h2 {
    animation: slide-right var(--animi-duration) calc(var(--animi-delay) * 2) forwards;
}

.col-b .section-a .sec-a.is-visible p {
    animation-delay: calc(var(--animi-delay) * 4);
}

.col-b .section-a .sec-b.is-visible .item:nth-child(1) {
    animation: slide-down var(--animi-duration) var(--animi-delay) forwards;
    animation-delay: calc(var(--animi-delay) * 1);
}

.col-b .section-a .sec-b.is-visible .item:nth-child(2) {
    animation: slide-down var(--animi-duration) var(--animi-delay) forwards;
    animation-delay: calc(var(--animi-delay) * 3);
}

.col-b .section-a .sec-b.is-visible .item:nth-child(3) {
    animation: slide-down var(--animi-duration) var(--animi-delay) forwards;
    animation-delay: calc(var(--animi-delay) * 5);
}

.col-b .section-a .sec-b .item-header .number {
    outline: 0;
    border: 0;
    display: inline-block;
    background-color: var(--Bright-Red);
    color: var(--Very-Pale-Red);
    font-family: Bbold;
    font-size: 1.4rem;
    border-radius: 3rem;
    padding: 1rem 2rem;
}







.col-c .section-a {
    padding: 3rem 0;
}

.col-c .section-a .sec-a {
    text-align: center;
    margin-bottom: 10rem;
}

.col-c .section-a .sec-b {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col-c .section-a .sec-b .slides {
    width: 32%;
    border-radius: 1rem;
    background-color: var(--Very-Light-Gray);
    text-align: center;
    padding: 1rem 1.9rem;
}

.col-c .section-a .sec-b.is-visible .slides {
    animation: slide-down var(--animi-duration) calc(var(--animi-delay) * 1) forwards;
}

.col-c .section-a .sec-b .slides, .col-c .section-a .sec-a h2, .col-c .section-a .sec-c .button {
    opacity: 0;
}

.col-c .section-a .sec-b .slides:nth-child(4) {
    display: none;
}

.col-c .section-a .sec-b .slides * {
    margin-bottom: 3rem;
}

.col-c .section-a .sec-b .slides .img {
    height: 10rem;
    margin-top: -5rem;
}

.col-c .section-a .sec-b .slides .img:hover {
    filter: brightness(80%);
}

.col-c .section-a .sec-c {
    margin: 4rem 0;
    text-align: center;
}

.col-c .section-a .sec-b.is-visible .slides:nth-child(1) {
    animation-delay: calc(var(--animi-delay) * 1);
}

.col-c .section-a .sec-b.is-visible .slides:nth-child(2) {
    animation-delay: calc(var(--animi-delay) * 2);
}

.col-c .section-a .sec-b.is-visible .slides:nth-child(3) {
    animation-delay: calc(var(--animi-delay) * 3);
}

.col-c .section-a .sec-a.is-visible h2 {
    animation: slide-down var(--animi-duration) var(--animi-delay) forwards;
}

.col-c .section-a .sec-c.is-visible .button {
    animation: slide-down var(--animi-duration) var(--animi-delay) forwards;
}







.col-d {
    background-color: var(--Bright-Red);
    background-image: url(../images/bg-simplify-section-desktop.svg);
    background-position: -150% 100%;
}

.col-d .section-a {
    margin: var(--margin);
    padding: 6rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col-d .section-a .sec-a {
    width: 50%;
}

.col-d .section-a .sec-b {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.col-d .section-a .sec-a p {
    font-size: 4.5rem;
    font-family: Bbold;
    line-height: 6rem;
    color: var(--Very-Pale-Red);
}

.col-d .section-a .sec-b .button {
    background-color: var(--Very-Pale-Red);
    color: var(--Bright-Red);
}

.col-d .section-a.is-visible .sec-a p {
    animation: slide-right var(--animi-duration) var(--animi-delay) forwards;
}

.col-d .section-a .sec-a p, .col-d .section-a .sec-b .button {
    opacity: 0;
}

.col-d .section-a.is-visible .sec-b .button {
    animation: slide-left var(--animi-duration) var(--animi-delay) forwards;
}

.col-d .section-a .sec-b .button:hover::after {
    background-color: var(--Very-Pale-Red);
}







.footer {
    background-color: var(--Very-Dark-Blue);
}

.footer .section {
    margin: var(--margin);
    padding: 6rem 0;
    display: flex;
    flex-direction: row;
}

.footer .section .sec-a .media-icon {
    margin-top: 8rem;
}

.web-logo {
    height: 2.5rem;
}

.footer .section .sec-a .media-icon * {
    display: inline;
    font-size: 2.5rem;
}

.footer .section .sec-a .media-icon a:not(:last-child) {
    margin-right: 1rem;
}

.footer .section a {
    font-family: Bregular;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    display: block;
    color: var(--Very-Light-Gray);
}

.footer .section a:hover {
    color: var(--Bright-Red); 
}

.footer .section .sec-b .item {
    width: 50%;
}

.footer .section .sec-a {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer .section .sec-b {
    width: 40%;
    display: flex;
    flex-direction: row;
}

.footer .section .sec-c {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.footer .section .sec-c .error-msg {
    color: var(--Bright-Red);
    font-size: 1rem;
    padding-left: 1.4rem;
    margin-top: 1rem;
}

.footer .section .sec-c .item  .copyright {
    text-align: right;
    margin-top: 6rem;
}

.footer .section input[type="text"] {
    outline: 0;
    border: 0;
    display: inline-block;
    background-color: var(--Very-Light-Gray);
    color: var(--Dark-Blue);
    font-family: Bmedium;
    font-size: 1.4rem;
    border-radius: 3rem;
    padding: 1.4rem 2rem;
    border-radius: 3rem;
    margin-right: 1rem;
}

.footer .section input::placeholder {
    color: var(--c, black);
    font-size: 1.2rem;
}

.footer .contain .section .sec-a, .footer .contain .section .sec-b, .footer .contain .section .sec-c, .contain .attribution {
    opacity: 0;
}

.footer .contain.is-visible .section .sec-a {
    animation: slide-right var(--animi-duration) var(--animi-delay) forwards;
}

.footer .contain.is-visible .section .sec-b {
    animation: slide-down var(--animi-duration) var(--animi-delay) forwards;
}

.footer .contain.is-visible .section .sec-c {
    animation: slide-left var(--animi-duration) var(--animi-delay) forwards;
}

.contain.is-visible .attribution {
    animation: slide-down var(--animi-duration) var(--animi-delay) forwards;
}

.footer .section .sec-a p {
    display: none;
}


















p {
    font-size: 1.6rem;
    font-family: Bmedium;
    color: var(--Dark-Grayish-Blue);
}

h1 {
    font-size: 6rem;
    font-family: Bbold;
    line-height: 7rem;
    color: var(--Dark-Blue);
}

h2 {
    font-size: 4rem;
    font-family: Bbold;
    line-height: 4.5rem;
    color: var(--Dark-Blue);
}

h4 {
    font-size: 1.8rem;
    font-family: Bbold;
    color: var(--Dark-Blue);
}

a {
    text-decoration: none;
    color: unset;
}

.none {
    display: none;
}

.button {
    outline: 0;
    border: 0;
    display: inline-block;
    position: relative;
    background-color: var(--Bright-Red);
    color: var(--Very-Pale-Red);
    font-family: Bbold;
    font-size: 1.4rem;
    border-radius: 3rem;
    padding: 1.2rem 3rem;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button::after {
    content: "";
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    z-index: -1;
    transition: all .4s;
}

.button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    background-color: var(--Bright-Red);
}





.fluid-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.img-design-a {
    position: absolute;
    z-index: -9;
    right: -10%;
    top: -5%;
}

.img-design-b {
    position: absolute;
    z-index: -9;
    bottom: -70%;
    left: -40%;
}





.attribution { 
    padding-bottom: 2rem;
    font-size: 1.4rem; 
    text-align: center;
    font-family: Bregular;
    color: var(--Dark-Grayish-Blue);
}

.attribution a { 
    display: inline-block;
    color: var(--Very-Light-Gray); 
}

.attribution a:hover {
    color: var(--Bright-Red);
    font-family: Bbold;
    transform: scale(1.2, 1.2);
    transition: .5s;
    
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
    html {
        font-size: 7px;
    }

    .footer .section input[type="text"] {
        padding: 1rem 1.5rem;
    }

    .img-design-a {
        right: -50%;
        top: -20%;
    }

    /* .img-design-b {
        right: -10%;
        top: -5%;
    } */
}










@media only screen and (min-width: 200px) and (max-width: 899px) {
    :root {
        --margin: 0 2rem;
    }

    html {
        font-size: 8px;
    }

    .none {
        display: unset;
    }

    .show {
        display: block!important;
    }
    
    .nav .section {
        padding: 4rem 0;
        justify-content: center;
    }

    .web-logo {
        height: 2.5rem;
    }

    .nav .button {
        display: none;
    }

    .nav .list {
        width: 100%;
        position: absolute;
        z-index: 5;
        top: 10rem;
        padding: 2rem 0;
        border-radius: 1rem;
        background-color: var(--Very-Light-Gray);
        display: none;
    }

    .nav .list a {
        position: relative;
        display: block;
        text-align: center;
        width: 60%;
        margin: 0 auto;
        padding: 1rem 0;
    }

    .nav .list a:hover {
        color: var(--Very-Light-Gray);
        transition: calc(var(--animi-duration) * 2);
        transform: translateX(.5rem);
    }

    .nav .list a::before, .nav .list a::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -5;
        width: 0;
        opacity: 0;
    }

    .nav .list a:hover:before, .nav .list a:hover::after {
        animation: button-animi var(--animi-duration) forwards;
    }

    .nav .list a::after {
        left: 0;
        border-right: 2rem solid transparent;
        border-bottom:4.5rem solid var(--Dark-Blue);
    }

    .nav .list a::before {
        right: 0;
        border-left: 2rem solid transparent;
        border-top:4.5rem solid var(--Dark-Blue);
    }

    .nav .list a:not(:last-child) {
        margin-bottom: 2rem;
    }

    .nav .section .icon {
        display: block;
        outline: 0;
        border: 0;
        background-color: unset;
        margin: 0 0 0 auto;
    }

    .nav .icon {
        animation-name: slide-down;
        animation-duration: var(--animi-duration);
        animation-fill-mode: forwards;
        opacity: 0;
    }

    .col-a .section-a {
        flex-direction: column-reverse;
        padding: 0;
    }

    .col-a .section-a .sec-a {
        width: 100%;
        flex: 100%;
        text-align: center;
    }

    .col-a .section-a .sec-a * {
        margin-bottom: 2rem;
    }

    .col-a .section-a .sec-a p, .col-a .section-a .sec-b {
        width: 100%;
        flex: 100%;
    }

    .col-a .section-a.is-visible .sec-b .img {
        animation-delay: var(--animi-delay);
    }

    .col-b .section-a {
        flex-direction: column;
    }

    .col-b .section-a .sec-a {
        width: 100%;
        text-align: center;
    }

    .col-b .section-a .sec-a p, .col-b .section-a .sec-b {
        width: 100%;
    }

    .col-b .section-a .sec-b .item p, .col-b .section-a .sec-b .item-header h4 {
        margin-left: 1rem;
    }

    .col-b .section-a .sec-b .item-header {
        width: 100%;
        display: flex;
        position: relative;
        align-items: center;
    }

    .col-b .section-a .sec-b .item-header::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 150%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--Very-Pale-Red);
        z-index: -1;
    }

    .col-c .section-a {
        padding: 0;
    }

    .col-c .section-a .sec-b {
        flex-direction: column;
    }

    .col-c .section-a .sec-b .slides {
        width: 80%;
        padding: 0;
        margin: 0 auto;
    }

    .col-c .section-a .sec-b .slides:not(:nth-child(1)) {
        display: none;
    }

    .col-c .section-a .sec-b .dot {
        margin: 2.5rem auto;
    }

    .col-c .section-a .sec-b .dot .circle {
        width: 1rem;
        height: 1rem;
        display: inline-block;
        border-radius: 50%;
        border: 1px solid var(--Bright-Red);
        background-color: var(--Very-Pale-Red);
    }

    .col-c .section-a .sec-b .dot .circle:not(:last-child) {
        margin: 0 .2rem;
    }

    .col-d {
        background-image: url(../images/bg-simplify-section-mobile.svg);
        background-position: 0 50%;
        background-repeat: no-repeat;

    }

    .col-d .section-a {
        flex-direction: column;
        padding: 10rem 0;
    }

    .col-d .section-a .sec-a {
        width: 100%;
    }

    .col-d .section-a .sec-b {
        width: 100%;
        justify-content: center;
    }

    .col-d .section-a .sec-a p {
        font-size: 4rem;
        line-height: 4.5rem;
        text-align: center;
        margin-bottom: 2.5rem;
    }

    .footer .section {
        flex-direction: column-reverse;
        padding: 4rem 0;
    }

    .footer .section .sec-a {
        width: 100%;
        flex: 100%;
        flex-direction: column-reverse;
        text-align: center;
    }

    .footer .section .sec-b, .footer .section .sec-c {
        width: 100%;
        flex: 100%;
    }

    .footer .section .sec-c {
        width: 100%;
        flex: 50%;
        justify-content: center;
    }

    .footer .section .sec-c .item {
        text-align: center;
        width: 100%;
    }

    .footer .section .sec-c .error-msg {
        text-align: left;
        margin-left: 15%;
    }

    .footer .section .sec-c .button:hover {
        transform: translateY(1px)!important;
    }

    .footer .section .sec-c .button:active {
        transform: translateY(-1px)!important;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    .footer .section .sec-a .media-icon {
        margin: 0rem 0 3rem 0;
    }

    .footer .section .sec-a .media-icon * {
        font-size: 3.5rem;
    }

    .footer .section .sec-a .media-icon a:not(:last-child) {
        margin-right: 3.5rem;
    }

    .footer .section .sec-b .item {
        width: auto;
        margin: 3rem auto;
    }

    .footer .section .sec-c .item  .copyright {
        display: none;
    }

    .button, .footer .section input[type="text"] {
        padding: 1.5rem 3rem;
    }

    .footer .section .sec-a p {
        margin-top: 2rem;
        display: block;
    }
    
    p {
        font-size: 1.4rem;
        font-family: Bmedium;
        color: var(--Dark-Grayish-Blue);
    }
    
    h1 {
        font-size: 4rem;
        line-height: 5rem;
    }
    
    h2 {
        font-size: 3rem;
        line-height: 3rem;
    }
    
    h4 {
        font-size: 1.6rem;
    }

    .active {
        background-color: var(--Bright-Red)!important;
    }

    .img-design-a {
        position: absolute;
        z-index: -9;
        width: 100rem;
        right: -70%;
        top: -10%;
    }
    
    .img-design-b {
        position: absolute;
        z-index: -9;
        bottom: -100%;
        left: -60%;
    }


    @media only screen and (min-width: 500px) {
        :root {
            --margin: 0 8rem;
        }
        html {
            font-size: 10px;
        }
        .footer .section input[type="text"] {
            padding: 1.5rem 3rem;
            width: 60%;
        }
    }
}


@keyframes drop-down {
    0% {
        opacity: 0;
        transform: translateY(-5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-5rem);
    }

    80% {
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes button-animi {
    to {
        opacity: 1;
        width: 50%;
    }
}